# Archivos grandes excluidos de GitHub
/3er_Semestre/Cultura Empresarial/Cultura Empresarial.7z
/3er_Semestre/Cultura Empresarial/Etapa 1/OneDrive_2_7-9-2026.zip
/3er_Semestre/Cultura Empresarial/Etapa 2/OneDrive_1_7-9-2026.zip
/3er_Semestre/Desarrollo Sustentable/Exposicion_Unidad2.pptx
